body {
  --color-light: #f4f1de;
  --color-orange: #e07a5f;
  --color-blue: #3d405b;
  --color-green: #81b29a;
  --color-yellow: #f2cc8f;
  --colorDark: #272727;
  --header-height: 40px;
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-blue);
  color: var(--color1);
}

.App {
  text-align: center;
  color: var(--color-green);
}

input[type='text'],
select,
textarea {
  background-color: var(--color-light);
  border: none;
  border-radius: 2px;
  height: 2rem;
  margin: 10px;
  min-width: 200px;
  padding: 0 5px;
}

input[type='text']:focus,
select:focus,
textarea:focus {
  border: none;
  box-shadow: 0 0 3px 2px var(--color-green);
  outline: none;
}

a.button,
button,
input[type='submit'] {
  cursor: pointer;
  margin: 10px auto;
  border-radius: 20px;
  outline: none;
  border: none;
  min-width: 100px;
  height: 2rem;
  background-color: var(--color-green);
  color: var(--color-blue);
  font-weight: bold;
  text-decoration: none;
  font-size: 1rem;
}
